body {
  width: 98vw;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.container {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1d1d1d;
  padding: 0 0.4em;
  color: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 10px #202020;
}

.container::before {
  content: "";
  position: absolute;
  top: 5%;
  left: -2.5%;
  width: 105%;
  height: 112%;
  border-radius: 20px;
  background: linear-gradient(to right, #272727, #2a2a2a);
  z-index: -1;
  transition: all 4s;
}

.container:hover::before {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
}

.box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.4s;
}

.box:hover {
  transform: translateY(-10px);
  background: linear-gradient(to right, #9d50bb, #6e48aa);
}

i {
  cursor: pointer;
  transition: transform 0.4s;
}

.box:hover i {
  transform: scale(1.5);
}
